
@media  (max-width: 767px) {

    header {
        width: 100%;
    }
    
   
    .abrir-menu, .cerrar-menu {
        display: block;
        border: none;
        font-size: 2rem;
        font-weight: 900;
        background-color: transparent;
        color: #332E2E; 
    }
    
    
    .nav {
        opacity: 0;
        visibility: hidden;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        gap: 3rem;
        position: fixed;
        height: 100%;
        width: 100%;
      
        
        padding: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
        -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
        -ms-transition: opacity 0.3s ease, visibility 0.3s ease;
        -o-transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
   
    .nav li a {
        color: #333;
        text-decoration: none;
        font-weight: 600; 
        transition: color 0.3s ease; 
        
    }
    
   
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-end; 
        gap: 3rem;
    }
    
    
    .nav li a:hover {
        font-weight: 800; 
    }


    /*HERO*/

    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        width: 100%;
        max-width: 500px;
        height: auto;
        color: #332E2E;
    }

    #home {
        padding: 1.5rem 1.5rem;
        margin: 1rem auto;
        gap: 0;

    }

    .TextHero {
        text-align: start;
    }

    #home .TextHero span {
        font-size: 34px;
        width: 100%;
        height: auto;
        max-width: 300px;
        margin-bottom: 30px;
    }

    #home .ImgHero img {
        max-width: 400px;
    }

    .TextHero h2 {
        font-size: 25px;
    }

    .TextHero p {
        font-size: 17px;
    
    }

   

    .scroll-indicator {
        display: none;
    }

    #home .buttonCV{
        width: 100%;
        font-size: 15px;
        padding: 0.6em 1.5em;
        max-width: 10rem;
        
       
    }
    #home button {
        width: 100%;
        font-size: 15px;
        padding: 0.6em 1.5em;
        max-width: 8rem;
    }
    
    #home .ImgHero {
        max-width: 400px;
        flex: 0;
    }

    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: 4rem auto;
        gap: 3rem;
    }

    #about .titleIntereses h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #SectionHabilidades, #SectionHabilidadesBack {
        padding: 10px;
        margin-bottom: 2rem;
    }

    #SectionHabilidade #SectionHabilidadesBack .TituloHabilidades h2 {
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .LogosHabilidades {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        gap: 10px;
        justify-items: center;
    }

    .LogosHabilidades img {
        max-width: 60px;
        height: auto;
    }

    .LogoGrandes img {
        max-width: 60px !important; 
    }
    

    #FormacionAcademica {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 450px;
        margin: 4rem auto;
        gap: 2rem;
        line-height: 1.8;
        background-image: none;
    }

    #FormacionAcademica .tituloFormacionAcademica h2 {
        margin: 0 auto;
    }




    #SectionProyectos {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 350px;
        gap: 1rem;
        line-height: 1.3;
        padding-left: 1rem;
    }

    .description{
        display: none;
    }

    .descriptionMobile{
        display: block;
    }

    .desciptionEN{
        display: none;
    }

    .descriptionMobileEN{
        display: block;
    }


    #projects {
        display: flex; /* 1. Cambiamos a flex para poner las tarjetas en fila */
        flex-direction: row; /* 2. Aseguramos la dirección horizontal */
        overflow-x: auto; /* 3. Habilitamos el scroll horizontal */
        scroll-snap-type: x mandatory; /* 4. Hacemos que el scroll se "pegue" a cada tarjeta */
        scroll-padding-left: 1rem; /* 5. Añadimos un padding inicial para el snapping */
        
        gap: 1rem;
        width: 100%;
        padding-right: 0; /* 6. Padding a la izquierda para el margen inicial */
    }

    

    .LogosProyectos {
        flex: 0 0 85%; /* 7. CADA TARJETA OCUPA EL 85% DEL ANCHO */
        scroll-snap-align: start; /* 8. El scroll se alinea al inicio de cada tarjeta */
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; /* Reseteamos el margen */
        width: auto; /* Dejamos que flex controle el ancho */
        height: auto;
    }

    .Logos{
        display: none;
    }

    #projects::-webkit-scrollbar { 
        height: 6px; 
    }
    
    #projects::-webkit-scrollbar-track { 
        background: rgba(0,0,0,0.1); 
    }

    #projects::-webkit-scrollbar-thumb {
        background: #8fc1be;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    #projects .BtnsProyectos{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 1rem;
    }

    #projects .VisitarSitioBtn{
        font-size: 1rem;               
        padding: 0.75rem 1.5rem;       
        min-height: 3rem;              
    }

    

    .ScreenSitios img {
        width: 100%;
        height: auto;
        max-width: 380px;
    }


    .DescriptionProyectos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        margin: 0 auto;
        width: 100%;
        height: auto;
        max-width: 350px;
        
    }

    .TextProyectos{
        gap: 1rem;
    }

    #OtrosTrabajos {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: 4rem auto;
        line-height: 1.8;
    }

    #OtrosTrabajos h2 {
        padding-left: 1.5rem;
    }

    #OtrosTrabajosDescripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
        width: 100%;
        height: auto;
        max-width: 350px;
        padding: 1.5rem 1.5rem;
        
    }

    .descripcionCarrusel .liExperiencias ul li {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
        width: 100%;
        height: auto;
        max-width: 350px;
        
    }

    #Certificates {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: 4rem auto;
        gap: 3rem;
        line-height: 1.8;
    }

    #Certificates img {
        width: 100%;
        height: auto;
        max-width: 350px;
    }





    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: 4rem auto;
        gap: 5rem;
        line-height: 1.8;
    }

    .Contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 2rem;
        width: 100%;
        height: auto;
        max-width: 350px;
        
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    footer img {
        width: 100%;
        height: auto;
        margin-top: 7rem;
    }

    #OtrosTrabajos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: 4rem auto;
    }

    #OtrosTrabajosDescripcion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 350px;
        gap: 3rem;
    }

    #OtrosTrabajosDescripcion .carrusel {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 300px;
    
    }
    
    
    
    #OtrosTrabajosDescripcion .carousel-inner img{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 500px;
        border-radius: 10px;
    }

    .descripcionCarrusel .liExperiencias li {
        align-items: center;
        justify-content: center;
        line-height: 1.8;
        
    }
    
    



}


/* '''''''''''''''''''''''''''''''''''''''''''''''''''tablet'''''''''''''''''''''''''''''''''''''''''''''''''''''*/


@media (min-width: 768px) and (max-width: 991px) {

    header {
        width: 100%;
        
        
    }

    .abrir-menu, .cerrar-menu {
        display: block;
        border: none;
        font-size: 2rem;
        font-weight: 900;
        background-color: transparent;
        color: #332E2E; 
    }
    
    
    .nav {
        opacity: 0;
        visibility: hidden;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        gap: 3rem;
        position: fixed;
        height: 100%;
        width: 100%;
        padding: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
        -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
        -ms-transition: opacity 0.3s ease, visibility 0.3s ease;
        -o-transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
    /* Enlaces dentro de la barra de navegación */
    .nav li a {
        color: #333;
        text-decoration: none;
        font-weight: 600; 
        transition: color 0.3s ease; 
        
    }
    
   
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-end; 
        gap: 3rem;
    }
    
    
    .nav li a:hover {
        font-weight: 800; 
    }

    .cursor-dot, .cursor-outline {
        display: none;
    }

        .scroll-indicator {
            display: none;
        }
    /*HERO*/

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10rem auto;
        width: 100%;
        max-width: 1200px;
        height: auto;
        padding: 3rem;
        gap: 4rem;
        color: #332E2E;
    }
    #home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        max-width: 350px;
        height: auto;
        margin: 2rem auto;
    }
    
    #home  .TextHero  span {
        width: 100%;
        height: auto;
        max-width: 350px;
        font-size: 10px;
    
    }

    #SectionProyectos{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    /* #SectionProyectos h2{
       margin-bottom: 1rem;
    } */

    #projects {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        margin: 1rem auto;
    }

    .ScreenSitios img {
        max-width: 500px;
    }
       
    .DescriptionProyectos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .TextProyectos p {
        width: 100%;
        height: auto;
        max-width: 500px;
    }

    #about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 800px;
        padding: 1rem;
        margin: 0 auto;
        margin-bottom: 3rem;
        filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
        margin-top: 9rem;
    }

    #AboutME p {
        width: 100%;
        height: auto;
        max-width: 800px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
    }

    .Contactos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
    }



    #OtrosTrabajos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        margin: 2rem auto;
    }

    #OtrosTrabajosDescripcion{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 850px;
        margin: 2rem auto;
        gap: 3rem;
    }

    #OtrosTrabajosDescripcion .carrusel {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 850px;
    
    }
    
    
    
    #OtrosTrabajosDescripcion .carousel-inner img{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 500px;
        border-radius: 10px;
    }

    .descripcionCarrusel .liExperiencias li {
        align-items: center;
        justify-content: center;
        line-height: 1.8;
        
    }
}