
@media  (max-width: 767px) {

    header {
        width: 100%;
    }
    
    /* Botón de abrir y cerrar */
    .abrir-menu, .cerrar-menu {
        display: block;
        border: none;
        font-size: 2rem;
        font-weight: 900;
        background-color: transparent;
        color: #332E2E; 
    }
    
    
    .nav {
        opacity: 0;
        visibility: hidden;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        gap: 3rem;
        position: fixed;
        height: 100%;
        width: 100%;
      
        
        padding: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
        -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
        -ms-transition: opacity 0.3s ease, visibility 0.3s ease;
        -o-transition: opacity 0.3s ease, visibility 0.3s ease;
}
    
   
    .nav li a {
        color: #333;
        text-decoration: none;
        font-weight: 600; 
        transition: color 0.3s ease; 
        
    }
    
   
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-end; 
        gap: 3rem;
    }
    
    
    .nav li a:hover {
        font-weight: 800; 
    }

    .cursor-dot, .cursor-outline {
        display: none;
    }

    /*HERO*/

   main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 3rem;
    gap: 3rem;
    color: #332E2E;
    }

    .TextHero {
        text-align: start;
    }

    .TextHero span {
        font-size: 37px;
        width: 100%;
        height: auto;
        max-width: 350px;
    }

    .TextHero h2 {
        font-size: 25px;
    }

   

    .scroll-indicator {
        display: none;
    }

    #home .buttonCV{
        width: 100%;
        font-size: 15px;
        padding: 0.6em 1.5em;
        max-width: 10rem;
        
       
    }
    #home button {
        width: 100%;
        font-size: 15px;
        padding: 0.6em 1.5em;
        
        max-width: 10rem;
    }


    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 370px;
        margin: 4rem auto;
        gap: 3rem;
    }

    #AboutME {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 370px;
        margin: 4rem auto;
        
    }

    #AboutME p {
        margin-top: 2rem;
        max-width: 350px;
    }

    #SectionHabilidades {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 4rem auto;
        gap: 3rem;
    }

    #SectionHabilidades .LogosHabilidades {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1rem auto;
        width: 100%;
        height: auto;
        max-width: 350px;
        gap: 1rem;
        padding: 1rem;
    }
    #SectionHabilidades .LogosHabilidades img {
        width: 90px;
        padding: 9px;
    }

    #SectionHabilidades .LogosHabilidades > div {
        width: calc(30% - 10px); 
        margin-bottom: 10px;
        
    }

    #FormacionAcademica {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 450px;
        margin: 4rem auto;
        gap: 2rem;
        line-height: 1.8;
    }




    #SectionProyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 380px;
        margin: 4rem auto;
        gap: 1rem;
        line-height: 1.8;
    }

    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        gap: 1rem;
        width: 100%;
        height: auto;
        max-width: 380px;
        
    }

    .LogosProyectos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        gap: 0.5rem;
        width: 100%;
        height: auto;
        max-width: 380px;
        
    }

    .ScreenSitios img {
        width: 100%;
        height: auto;
        max-width: 380px;
    }


    .DescriptionProyectos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
        width: 100%;
        height: auto;
        max-width: 380px;
        
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 4rem auto;
        gap: 5rem;
        line-height: 1.8;
    }

    .Contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 2rem;
        width: 100%;
        height: auto;
        max-width: 400px;
        
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



}


/* '''''''''''''''''''''''''''''''''''''''''''''''''''tablet'''''''''''''''''''''''''''''''''''''''''''''''''''''*/


@media (min-width: 768px) and (max-width: 991px) {

    header {
        width: 100%;
    }

    .abrir-menu, .cerrar-menu {
        display: block;
        border: none;
        font-size: 2rem;
        font-weight: 900;
        background-color: transparent;
        color: #332E2E; 
    }
    
    
    .nav {
        opacity: 0;
        visibility: hidden;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        gap: 3rem;
        position: fixed;
        height: 100%;
        width: 100%;
        padding: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
        -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
        -ms-transition: opacity 0.3s ease, visibility 0.3s ease;
        -o-transition: opacity 0.3s ease, visibility 0.3s ease;
}
    
    /* Enlaces dentro de la barra de navegación */
    .nav li a {
        color: #333;
        text-decoration: none;
        font-weight: 600; 
        transition: color 0.3s ease; 
        
    }
    
   
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-end; 
        gap: 3rem;
    }
    
    
    .nav li a:hover {
        font-weight: 800; 
    }

    .cursor-dot, .cursor-outline {
        display: none;
    }

        .scroll-indicator {
            display: none;
        }
    /*HERO*/

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10rem auto;
        width: 100%;
        max-width: 1200px;
        height: auto;
        padding: 3rem;
        gap: 4rem;
        color: #332E2E;
    }
    
    span {
        font-size: 3rem;
    }

    #SectionProyectos{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    #SectionProyectos h2{
       margin-bottom: 1rem;
    }

    #projects {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        margin: 2rem auto;
    }

    .ScreenSitios img {
        max-width: 500px;
    }
       
    .DescriptionProyectos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .TextProyectos p {
        width: 100%;
        height: auto;
        max-width: 500px;
    }

    #about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 800px;
        padding: 1rem;
        margin: 0 auto;
        margin-bottom: 3rem;
        filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
        margin-top: 9rem;
    }

    #AboutME p {
        width: 100%;
        height: auto;
        max-width: 800px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
    }

    .Contactos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 2rem auto;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
    }
}